@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap';

// Font Families
$ff-primary: 'Poppins', sans-serif;

// Font Weights
$fw-regular: 500;
$fw-bold: 700;

// Font Sizes
$fs-xxs: 0.5rem;
$fs-xs: 0.75rem;
$fs-sm: 0.875rem;
$fs-base: 1rem;
$fs-lg: 1.125rem;
$fs-xl: 1.25rem;
$fs-2xl: 1.5rem;
$fs-3xl: 1.875rem;
$fs-4xl: 2.25rem;
$fs-5xl: 3rem;
$fs-6xl: 3.75rem;
$fs-7xl: 4.5rem;
$fs-8xl: 5rem;
$fs-9xl: 6.5rem;
$fs-10xl: 8rem;
$fs-11xl: 10rem;